/* line 1, ../scss/components/_generals.scss */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 8, ../scss/components/_generals.scss */
body {
  background: url("/imgs/background.png") no-repeat top left #d8c090;
  background-size: cover;
  margin: 0;
  padding: 90px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px; }

/* line 21, ../scss/components/_generals.scss */
img {
  vertical-align: top; }

/* line 25, ../scss/components/_generals.scss */
ul {
  list-style: none; }

/* line 29, ../scss/components/_generals.scss */
h1 {
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 2px 2px #c44a28;
  margin: 0 auto 15px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 42px; }

/* line 41, ../scss/components/_generals.scss */
.widget {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 20px auto;
  width: 283px;
  box-shadow: 3px 3px 5px 2px rgba(171, 139, 110, 0.38);
  overflow: hidden;
  color: #8e8071; }

/* line 47, ../scss/components/_generals.scss */
footer {
  color: #ffffff; }

/* line 2, ../scss/components/_layout.scss */
.row {
  display: block;
  width: 100%; }

/* line 7, ../scss/components/_layout.scss */
.half-row {
  display: inline-block;
  width: 49%;
  vertical-align: top; }

@media screen and (max-width: 840px) {
  /* line 15, ../scss/components/_layout.scss */
  .half-row {
    width: 100%; }

  /* line 18, ../scss/components/_layout.scss */
  .widget {
    max-width: 100%; } }
@media screen and (max-width: 450px) {
  /* line 24, ../scss/components/_layout.scss */
  body {
    padding: 20px; }

  /* line 27, ../scss/components/_layout.scss */
  img {
    width: 100%; }

  /* line 30, ../scss/components/_layout.scss */
  .widget {
    width: 100%; }

  /* line 33, ../scss/components/_layout.scss */
  .row {
    min-width: 280px; } }
/* line 14, ../scss/styles.scss */
.stock-module .stock-graph {
  background: #ffffff;
  position: relative; }
/* line 19, ../scss/styles.scss */
.stock-module .number {
  position: absolute;
  top: 20px;
  left: 30px;
  color: #ffffff;
  text-align: left; }
  /* line 26, ../scss/styles.scss */
  .stock-module .number:before {
    content: "=";
    position: absolute;
    left: -13px;
    font-size: 8px;
    top: 50%;
    transform: translateY(-50%); }
  /* line 34, ../scss/styles.scss */
  .stock-module .number.up:before {
    content: "\25B2"; }
  /* line 37, ../scss/styles.scss */
  .stock-module .number.down:before {
    content: "\25BC"; }
  /* line 41, ../scss/styles.scss */
  .stock-module .number .value {
    font-size: 24px;
    line-height: 0.9; }
  /* line 46, ../scss/styles.scss */
  .stock-module .number .change {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px; }
/* line 52, ../scss/styles.scss */
.stock-module .stock-data {
  padding: 30px 20px;
  text-align: left; }
/* line 57, ../scss/styles.scss */
.stock-module .time {
  display: block;
  font-size: 12px; }
/* line 62, ../scss/styles.scss */
.stock-module .city {
  font-size: 20px; }
/* line 66, ../scss/styles.scss */
.stock-module .shares-data {
  margin: 20px 0;
  text-align: center; }
  /* line 69, ../scss/styles.scss */
  .stock-module .shares-data span {
    padding: 10px;
    background: #f6f0ec;
    font-size: 12px; }
  /* line 74, ../scss/styles.scss */
  .stock-module .shares-data strong {
    font-size: 18px; }
/* line 79, ../scss/styles.scss */
.stock-module .shares {
  border-radius: 5px 0 0 5px; }
/* line 83, ../scss/styles.scss */
.stock-module .market-cap {
  border-radius: 0 5px 5px 0; }
/* line 87, ../scss/styles.scss */
.stock-module .amount {
  display: block;
  font-weight: bold; }
/* line 92, ../scss/styles.scss */
.stock-module .category {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400; }
/* line 100, ../scss/styles.scss */
.stock-module .aapl-charts img {
  max-width: 100%; }
/* line 105, ../scss/styles.scss */
.stock-module .yearly-change {
  padding: 0 9px; }
  /* line 107, ../scss/styles.scss */
  .stock-module .yearly-change .value {
    background: #4daf7b;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 100%; }

/* line 117, ../scss/styles.scss */
.blog-post {
  width: 370px; }
  /* line 120, ../scss/styles.scss */
  .blog-post .profile-image {
    margin: 0;
    padding: 0; }
  /* line 125, ../scss/styles.scss */
  .blog-post .post-author {
    padding: 20px; }
  /* line 129, ../scss/styles.scss */
  .blog-post .post-actions {
    margin: 10px 0 0;
    padding: 0;
    clear: both; }
    /* line 134, ../scss/styles.scss */
    .blog-post .post-actions:after, .blog-post .post-actions:before {
      content: "";
      clear: both; }
    /* line 139, ../scss/styles.scss */
    .blog-post .post-actions li {
      background: #f6f0ec;
      float: left;
      width: 33.3%;
      display: inline-block;
      padding: 15px;
      border-right: 1px solid #ffffff;
      color: #897765;
      font-size: 13px;
      font-weight: 700; }
      /* line 151, ../scss/styles.scss */
      .blog-post .post-actions li:last-of-type {
        border: none; }
  /* line 157, ../scss/styles.scss */
  .blog-post .avatar {
    border: 1px solid rgba(171, 139, 110, 0.38);
    border-radius: 100%;
    padding: 8px;
    margin: 0 20px 0 0;
    float: left; }
    /* line 164, ../scss/styles.scss */
    .blog-post .avatar img {
      border-radius: 100%;
      width: 75px;
      height: 75px; }
  /* line 171, ../scss/styles.scss */
  .blog-post .author-data {
    text-align: left;
    font-size: 13px; }
    /* line 175, ../scss/styles.scss */
    .blog-post .author-data .name {
      color: #5c5146;
      line-height: 1;
      font-weight: 600;
      font-size: 28px; }

/* line 189, ../scss/styles.scss */
.send-form {
  text-align: left;
  width: 370px; }
  /* line 193, ../scss/styles.scss */
  .send-form fieldset {
    border: none;
    padding: 30px;
    margin: 0; }
  /* line 202, ../scss/styles.scss */
  .send-form .input-container {
    margin-bottom: 20px; }
    /* line 204, ../scss/styles.scss */
    .send-form .input-container:last-of-type {
      margin-bottom: 0; }
  /* line 209, ../scss/styles.scss */
  .send-form input[type="text"], .send-form input[type="submit"], .send-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(171, 139, 110, 0.38);
    border-radius: 5px;
    color: #897765;
    font-family: "Open Sans", sans-serif;
    font-size: 13px; }
  /* line 221, ../scss/styles.scss */
  .send-form textarea {
    resize: none; }
  /* line 225, ../scss/styles.scss */
  .send-form .process-fields {
    background: #f6f0ec; }
  /* line 229, ../scss/styles.scss */
  .send-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px; }
  /* line 236, ../scss/styles.scss */
  .send-form .checkbox-container, .send-form .button-container {
    vertical-align: middle; }
  /* line 241, ../scss/styles.scss */
  .send-form .checkbox-container label {
    font-size: 14px;
    cursor: pointer; }
  /* line 247, ../scss/styles.scss */
  .send-form input[type="submit"].form-button {
    background: #e96d48;
    border: 1px solid #c44a28;
    color: white;
    cursor: pointer; }
    /* line 253, ../scss/styles.scss */
    .send-form input[type="submit"].form-button:hover, .send-form input[type="submit"].form-button:active {
      background: #c44a28;
      border-color: #e96d48; }

/* line 262, ../scss/styles.scss */
.ribbon-container {
  width: 100px;
  height: 100px;
  position: relative; }

/* line 269, ../scss/styles.scss */
.ribbon {
  background: #4daf7b;
  color: #ffffff;
  padding: 10px 15px;
  position: absolute;
  top: 10px;
  right: -5px;
  text-align: center;
  box-shadow: 2px 3px 8px 1px rgba(171, 139, 110, 0.38); }
  /* line 279, ../scss/styles.scss */
  .ribbon:before {
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAYAAAD+MdrbAAAAr0lEQVRIia3XORLAIAxDUcH97+w0CRN22xINQ/PGHd/FzAxAgejU9zY1KEPr8KbREaTRFUihOzCNnsAUegPDqAcMoV7QjUZAFxoFr2gGPKJZcIsy4BJlwQlVgB2qAhuqBAHA1KB8wqIEC6CbsH3DCrD701lwCgQGXNZGFtymSwY8dlAUvEZVBHQVmhd0554HDLXjDQyH6AlMVe0OTCfyCqR6ewTpeP+Dkk3gA2VrxQMiIRdNmOkY5wAAAABJRU5ErkJggg==") no-repeat top left #4daf7b;
    background-size: 10px 100%;
    position: absolute;
    top: 0;
    left: -5px;
    height: 100%;
    width: 10px; }
  /* line 290, ../scss/styles.scss */
  .ribbon .text, .ribbon .discount {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700; }
  /* line 297, ../scss/styles.scss */
  .ribbon .text {
    color: rgba(255, 255, 255, 0.75);
    line-height: 0.6;
    font-family: "Cabin", sans-serif;
    font-size: 12px; }
  /* line 306, ../scss/styles.scss */
  .ribbon .discount {
    font-family: "Open Sans", sans-serif; }

@media screen and (max-width: 840px) {
  /* line 316, ../scss/styles.scss */
  .send-form .checkbox-container label {
    margin-bottom: 15px; }

  /* line 323, ../scss/styles.scss */
  .stock-module .half-row {
    width: 49%; } }
@media screen and (max-width: 450px) {
  /* line 330, ../scss/styles.scss */
  .send-form, .blog-post {
    max-width: 100%; }

  /* line 335, ../scss/styles.scss */
  .stock-module .half-row {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px; } }
