//Palette - names provided by http://chir.ag/projects/name-that-color/
$straw: #d8c090;
$white: #ffffff;
$black: #000000;
$sandal: rgba(171, 139, 110, 0.38);
$stonewall: #8e8071;
$dawn-pink: #f6f0ec;
$ocean-green: #4daf7b;
$burnt-sienna: #e96d48;
$tuscany: #c44a28;
$soya-bean: #5c5146;
$cement: #897765;
$white-transparent: rgba(255, 255, 255, 0.5);



//Semantic colors
$background: $straw;
$module-background: $white;
$shadow: $sandal;
$items-back: $dawn-pink;
$module-text-main: $stonewall;
$module-text-secondary: $soya-bean;
$module-text-third: $cement;
$primary-button: $ocean-green;
$form-button-back: $burnt-sienna;
$form-button-border: $tuscany;
