*, *:before, *:after {
  box-sizing: border-box;
}

$cabin: 'Cabin', sans-serif;
$openSans: 'Open Sans', sans-serif;

body {
  background: url('/imgs/background.png') no-repeat top left $background;  //Plain color, for now
  background-size: cover;
  margin: 0;
  padding: 90px;
  text-align: center;
  font: {
    family: $openSans;
    weight: 400;
    size: 16px;
  }
}

img {
  vertical-align: top;
}

ul {
  list-style: none;
}

h1 {
  color: $white;
  text-transform: uppercase;
  text-shadow: 2px 2px $tuscany;
  margin: 0 auto 15px;
  font: {
    family: $cabin;
    weight: 700;
    size: 42px;
  }
}

.widget {
  @include box(283px);
  overflow: hidden;
  color: $module-text-main;
}

footer {
  color: $white;
}