// Based on a two columns layout to display two widgets on a row.
.row {
  display: block;
  width: 100%;
}

.half-row {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}


@media screen and (max-width: 840px) {
  .half-row {
    width: 100%;
  }
  .widget {
    max-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  body {
    padding: 20px;
  }
  img {
    width: 100%;
  }
  .widget {
    width: 100%;
  }
  .row {
    min-width: 280px;
  }
}