@mixin box($width:'auto') {
  border-radius: 5px;
  background-color: $module-background;
  margin: 20px auto;
  width: $width;
  box-shadow: 3px 3px 5px 2px $shadow;
}

@mixin decoratedValue($color: $white, $text-color: $black) {
  background: $color;
  border-radius: 5px;
  color: $text-color;
  display: inline-block;
  padding: 10px;
  text-align: center;
}